body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #4f46e5;
    color: white;
    padding: 40px 20px;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px;
}

footer {
    background-color: #111;
    color: white;
    padding: 10px;
}